article{
    display: grid;
    grid-auto-rows: 0.2fr 0.8fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"header header header header header"
                        "carousel carousel carousel carousel carousel"
                        "section section section section section"
                        "footer footer footer footer footer"
}

header {
    display: grid;
    padding-left: 100px;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer{
    padding-left: 100px;
    display: grid;
    grid-area: footer;
    background-color: #011627;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "LC LC LC LC LC"
                         "SP RJ bt crt prd"

}

section{
    padding-left: 100px;
    grid-area: section;
}

carousel{
    padding-left: 100px;
    grid-area: carousel;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color:#011627;
}

.SP{
    color: #FFFFFF;
    grid-area: SP;
}

.RJ{
    color: #FFFFFF;
    grid-area: RJ;
}

.LC{
    color: #FFFFFF;
    grid-area: LC;
}

.localization{

    width: 44px;
    height: 0px;
    left: 380px;
    bottom: 157px;

    border: 5px solid #FF9F1C;

}

.buttonContato{
    grid-area: bt;
    width: 300px;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #FF9F1C;
    text-align: center;
    line-height:70px;
    height: 70px;
}
.buttonComprar{
    color:#FFFFFF;
    width: 200px;
    background-color: #2EC4B6;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
}

.buttonConsulter{
    grid-area: bc;
    width: 300px;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #FF9F1C;
    text-align: center;
    height: 70px;
    line-height:35px;
}

.created{
    padding-top: 100px;
    color:#FFFFFF;
    padding-left: 180px;
    grid-area: crt;
}

.powered{
    padding-top: 100px;
    color:#FFFFFF;
    padding-left: 10px;
    grid-area: prd;
}

.align{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "bt crt";
}

.headerSearch{
    height: 30px;
    padding-top: 22px;
}

.pHeader{
    padding-top: 15px;
    padding-left: 150px;
    margin-left: 15px;
}

.verticalLine{
    align-self: center;
    height: 40px;
    border-left: thick solid #7A7A7A;
}

.logo{
    height: 80px;
    width: 80px;
}

.inputSearch{
    width: 200px;
    border: none;
    border-bottom:2px solid #7A7A7A;
}

.icon{
    padding-left: 180px;
    align-items: center;
}

.rightNav icon{
    display: flex;
}

.bannerImage{
    height:310px;
    width: 700px;

}

.textImage{
    color: #FFFFFF;
}

.textProdutos{
    grid-area: text;
    color: #011627;
}

.productImage{
    height: 100px;
    width: 100px;
}

.Components{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "text text text"
                        "product product product"
}

.productName{
    color: #7A7A7A;
}

.ProductPrice{
    color: #2EC4B6;
}
